# {{ project_name }}

{{ project_tldr }}

[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-black.json)](https://github.com/copier-org/copier)

## Installing

To install this package, run:

```sh
uv add {{ project_name }}
```
