# {{ project_name }}

[![Copier](https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fcopier-org%2Fcopier%2Fmaster%2Fimg%2Fbadge%2Fbadge-grayscale-inverted-border-orange.json&style=flat&labelColor=%23FFDF75&color=%23FFDF75)](https://github.com/copier-org/copier)
[![Built with devenv](https://devenv.sh/assets/devenv-badge.svg)](https://devenv.sh)
[![uv](https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fastral-sh%2Fuv%2Fmain%2Fassets%2Fbadge%2Fv0.json&style=flat&label=Project%20Manager)](https://github.com/astral-sh/uv)
[![ruff](https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fastral-sh%2Fruff%2Fmain%2Fassets%2Fbadge%2Fv2.json&style=flat&label=Linter%20%26%20Formatter)](https://github.com/astral-sh/ruff)
[![ty](https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2Fastral-sh%2Fty%2Fmain%2Fassets%2Fbadge%2Fv0.json&style=flat&label=Type%20Checker)](https://github.com/astral-sh/ty)


{{ project_tldr }}

## Installing

To install this package, run:

```sh
uv add {{ project_name }}
```
